    <header>	
	<nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a href="index">Indoctrination</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mr-lg-4 mr-3"><a href='/'>Home</a></li>
						<li class="mr-lg-4 mr-3"><a href="/about">About</a></li>
                        <li class="mr-lg-4 mr-3"><a href="/services">Services</a></li>
						<li class="mr-lg-4 mr-3">
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Drop Down <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                              <li><a href="/typo">Typography</a>
                                </li>
                                <li><a href="/gallery">Gallery</a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/contact">Contact</a></li>
                    </ul>
    </nav>
</header>